body {
    background-color: lightcoral;
    font-family: "Delius";
    font-size: medium;
    color: brown;
}

nav {
    background-color: rgb(250, 210, 210);
    border-bottom: 4px solid white;
}

.navbar-brand {
    color: brown;
    font-weight: bold;
    font-size: x-large;
}

.stack-container {
    background-color: rgb(250, 210, 210);
    border: 4px solid white;
}

.stack-container img {
    padding-top: 4px;
}

.profile {
    background-color: white;
}

a {
    color: crimson;
    transition: color 0.3s ease;
}

a:hover {
    color: darkred;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
  }